@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Amatic+SC&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,500;0,9..40,700;0,9..40,900;1,9..40,400&family=Inter:wght@300;400;500;700&display=swap');

html, body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    
    
}
.h2-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 45px;
    padding-bottom: 50px;
}

.h3-text {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
}
.red-text {
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    padding-bottom: 30px;
    
}

.yellow-button {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    border-radius: 25px;
    padding: 12px 30px 12px 30px;

}

.transparent-button {
    background-color: transparent;
    border: 1px solid #191919;
    border-radius: 25px;
    padding: 12px 30px 12px 30px;

    &:hover {
        background-color: #191919;
        color:#f0efe9;

    }
}

.small-circles {
    display: flex;
    justify-content: center;
    gap: 15px;


    .small-circle {
        padding: 6px 6px 6px 6px;
        border: 1px solid #707070;
        background-color: #707070;
        border-radius: 50%;

        &:hover {
            background-color: #191919;
            border: 1px solid #191919;
        }
        
    }

}

.wrapper-grid {


.contact-box {
    padding-left: 10px;
    padding-right: 40px;
    border-right: 1px solid #cac6c6;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #f0efe9;
    padding: 16px;
  

    .container {
        display: grid;
        align-items: center;
        column-gap: 70px;
        grid-template-columns: 1fr auto;
        grid-template-areas: "logo bars";
        
        @media (min-width: 992px) {
            grid-template-columns: auto 1fr auto;
            grid-template-areas:    "logo cib social"
                                    "logo menu menu";
        }

        .btn-menubars {
            grid-area: bars;

            @media (min-width: 992px) {
                display: none;
            }


        }

        .logotype {
            grid-area: logo;
            
        }
        .contactinformation-bar {
            grid-area: cib;
            font-family: 'Inter', sans-serif;
            font-weight: 300;
            padding-bottom: 10px;
            display: none;

            i {
                font-size: 20px;
                margin-right: 5px;

            }

            @media (min-width: 992px) {
                display: none;
               
            }
            @media (min-width: 1200px) {
                display: flex;
            }
        }
        .socialmedia-bar {
            grid-area: social;
            font-size: 15px;
            padding-bottom: 10px;
            display: none;

            i {
                color: #191919;
                font-size: 20px;
                margin-left: 8px;
            }

            @media (min-width: 992px) {
                display: block;
            }
        }
        .menu {
            grid-area: menu;
            display: none;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #cac6c6;
            padding-top: 16px;
            
            nav {
                a {
                    display: inline-block;
                    color:#191919;
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 30px;
                    text-decoration: none;
                    position: relative;

                    &.active {
                        font-weight: 500px;
                    }

                    &.active::after,
                    &:hover::after {
                        content: '';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));
                    }
                }
            }

            @media (min-width: 992px) {
                display: flex;
             

                
                
            }

            .yellow-btn {
                    
                padding: 10px 25px 10px 25px;
                background-color: #F9D783;
                border-radius: 25px;
                text-decoration: none;
                font-weight: 600;
                font-size: 16px;
                margin-right: 0px;
                color:#191919;
                
                &:hover {
                    background-color: #191919;
                    border: 1px solid #191919;
                    color: #f0efe9;
                }   
            }
        }
        
        

    }
    
}
}

.section-1 {
    background-color: #f0efe9;

    .startpage {
        display: flex;

        .left-side {
            margin-top: 140px;

            h1 {
                font-family: 'DM Sans', sans-serif;
                font-size: 80px;
            }

            p {
                font-size: 20px;
                
            }

        }

        .right-side {
            margin-top: 50px;
            margin-right: -50px;
        }
    }
}

.section-2 {
    background-color: #ffffff;
    
    
    
    .container {
        
        

        .img-block {
            display: flex;
            justify-content: end;
            margin-right: 50px;
            
            
    }
        .img-position {  
        margin-left: 120px;
        margin-top: 40px;
        

    }
        
    }

}

.section-3 {
    padding-top: 100px;

    
    .features-box {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "leftbox rightbox";
        


        .left-box {
            grid-area: "leftbox";
            padding-right: 100px;
            .yellow-button {
                padding-left: 180px;
                padding-right: 180px;
                

                &:hover {
                    background-color: #191919;
                    color: #f0efe9;
                }
                
            }


        }

        .right-box {
            grid-area: "right-box";

            display: grid;
            column-gap: 140px;
            row-gap: 60px;
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            grid-template-areas: "BA SB"
                                  "FA RM";
            
            
            i {
                font-size: 35px;
                padding-bottom: 40px;
            }
            
            }

            .business-advice {
                grid-area: "BA";
                
                

            }

            .startup-business {
                grid-area: "SB";

            }

            .financial-advice {
                grid-area: "FA";

            }

            .risk-management {
                grid-area: "RM";

            }

        }

    }
.section-4 {

    background-color: #f0efe9;
    padding-top: 125px;
    padding-bottom: 115px;
    position: relative;
    

    .background-lines-right {
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 700px;
        height: auto;
        
    }
    

    .service-boxes {
        display: flex;
        
        

      .btn-right {
        display: flex;
        justify-content: end;
        
      }

        .business-subject {

            height: 330px;
            width: 300px;
            padding: 30px 30px 45px 30px;
            margin-right: 25px;
            background-color: #ffffff;



            &:hover {
                background-color: #F9D783; 
            }

            h1{
                
                font-size: 20px;
            }

            .arrow-button {
                display: flex;
                border: 1px solid black;
                height: 55px;
                width: 55px;
                border-radius: 50%;
                text-decoration: none;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                background-color: #191919;

                &:hover {
                    background-color: #ffffff;
                    color: #191919;
                }

              
            }


        }
    }

    .browse-btn-center {
        display: flex;
        justify-content: center;
        margin-top: 45px;
        position: relative;

        .browse-btn {
            display: flex;
            border: 1px solid #191919;
            color: #191919;
            text-decoration: none;
            height: 65px;
            width: 220px;
            justify-content: center;
            align-items: center;
            border-radius: 50px;

            i {
                margin-left: 5px;
            }

            &:hover {
                background-color: #191919;
                color: #ffffff;
            }
            
        }
    }

  
}

.about-company {
    
        .aboutcompany-section {
            display: flex;
            justify-content: space-between;
            padding-top: 115px;

            .about-founder {

                .samantha-box {
                    height: 180px;
                    width: 380px;
                    justify-content: center;
                    text-align: center;
                    background-color: #BEEBFF;
                    position: relative;
                    top: -220px;
                    right: 60px;
                    ;

                    .samantha-title {
                        display: flex;
                        justify-content: center;
                        padding-top: 40px;

                        h3 {
                            font-size: 20px;
                            font-family: 'DM Sans', sans-serif;
                            font-weight: bold;
                            margin-right: 5px;
                        }
                        p {
                            font-family: 'DM Sans', sans-serif;
                            font-size: 16px;
                            color: red;
                            padding-top: 1.2px;
                            font-weight: bold;

                        }

                        p {
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                        }

                    }
                }

            }
            .about-company-info {

                .about-company-btns {
                    display: flex;
                    align-items: end;
                    margin-top: 100px;
                    

                    .learn-more-button {
                        text-align: center;
                        padding-right: 40px;
                        padding-left: 40px;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border: 1px solid #191919;
                        border-radius: 25px;
                        text-decoration: none;
                        background-color: #191919;
                        color:#ffffff;
                        margin-right: 40px;

                        &:hover {
                        color: #191919;
                        background-color: #ffffff;
                        }

                    }

                    .play-btn {
                        color: #191919;
                        border: 1px solid #191919;
                        padding: 15px 19px 15px 19px;
                        border-radius: 25px;
                        margin-right: 20px;
                        

                        &:hover {
                            color:#ffffff;
                            background-color: #191919;
                        }
                    }
                }

            }
        }
    
}

.section-5 {
    margin-top: 65px;
    margin-bottom: 125px;
    position: relative;

    .why-choose-us {
        display: flex;
        justify-content: space-between;
        

        .why-choose-us-info {

            .logo-and-text {
                display: flex;
                margin-bottom: 45px;

                .circle-logo {
                    display: flex;
                    border: 1px solid black;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    margin-right: 25px;
                    
                }
            }
        }

        .picture-on-box {
            z-index: 1;
            img {
                margin-top: 10px;
               
            }
           
        }
    }

    .beige-box {
        background-color: #f0efe9;
        height: 430px;
        width: 1055px;
        position: absolute;
        right: 0px;
        top: 190px;
        z-index: 0;

    }
}

    
.section-6 {
    padding-bottom: 90px;
    
    .project-title {
        text-align: center;
    }

    .project-and-case {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        column-gap: 30px;
        row-gap: 35px;

        .h3-text {
            padding-top: 40px;
            padding-bottom: 20px;
            border-bottom: 1px solid #c4c3be;
        }

        a {
            display: flex;
            margin-top: 35px;
            justify-content: end;
            align-items: center;
            text-decoration: none;
            color: #191919;
            font-size: 14px;

            &:hover {
                font-weight: bold;
            }

        }
        i {
            margin-left: 5px;
            font-size: 16px;
        }

    }

    .projects-button {
        display: flex;
        justify-content: center;

        a {
            display: flex;
            height: 45px;
            width: 240px;
            color: #ffffff;
            background-color: #191919;
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            margin-top: 50px;

            i {
                margin-left: 5px;
            }


        }
        
        
    }
}

.section-7 {
    background-color: #F9D783;
    padding-top: 120px;
    padding-bottom: 70px;
    
        .meet-our-team {

        .team-box {

            .h2-and-btn {
                display: flex;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                
               .h2-text {
                padding-bottom: 1px;
               }

               .transparent-button {
                color: #191919;
                background-color: #ffd876;
                text-decoration: none;

                &:hover {
                    background-color: #191919;
                    color: #ffffff;
                }
               }
            }

            .team-members {
                display: flex;
                justify-content: space-between;
                gap: 30px;
                padding-top: 100px;
            }

            
        }
     }
        
    
}

.section-8 {
    position: relative;
    background-color: #F9D783;
    z-index: 0;

    
        .client-reviews {
            z-index: 2;
            position: relative;
          
            
            .review-title {
                text-align: center;
                padding-bottom: 90px;
            }

        

        .flexed-boxes {
            display: flex;
            justify-content: space-between;

        

            .review-box {
                
                
                p {
                    
                    font-size: 18px;
                    margin-top: 25px;
                    margin-bottom: 35px;
                }

                .image-name-reviewer {
                    display: flex;
                    
                    img {
                        width: 70px;
                        height: 70px;
                        margin-right: 15px;
                    }
                    
                
                    .name-and-role {
                        display: block;
                        
                        .h3-text {
                            padding-top: 12px;
                            padding-bottom: 14px;
                        }
                        

                        .red-text {
                            font-size: 16px;
                            position: relative;
                            bottom: 40px;
                            

                        }

                    }
                  

                }
            }
        }

        .projects-button2 {
            display: flex;
            justify-content: center;
    
            a {
                display: flex;
                height: 45px;
                width: 240px;
                color: #ffffff;
                background-color: #191919;
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                align-items: center;
                justify-content: center;
                border-radius: 25px;
                margin-top: -40px;
                margin-bottom: 235px;
    
                i {
                    margin-left: 5px;
                }
    
    
            }
            
            
        }

   
    
    }
}

.section-9 {
    margin-top: 125px;
    margin-bottom: 90px;

    .Article-and-news {

        .text-h2-and-button {

            .Topic-and-button {
                display: flex;
                justify-content: space-between;

                .transparent-button2 {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    justify-content: center;
                    width: 220px;
                    height: 50px;
                    border: 1px solid #191919;
                    border-radius: 25px;
                    background-color: transparent;
                    color: #191919;

                    i{
                        margin-left: 5px;
                        font-size: 18px;
                    }

                    &:hover {
                        background-color: #191919;
                        color: #ffffff;
                    }


                }

            }

        }

        .crito-articles {
            display: flex;
            justify-content: space-between;


            .article-and-info {
                margin-bottom: 60px;

                p {
                    margin-top: 30px;
                }

            }
        }


    }
}

.section-10 {
    position: relative;
    z-index: 0;
    background-color: #f0efe9;
    padding-top: 100px;
    padding-bottom: 100px;

    .submit-your-mail {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .h2-text {
            padding-bottom: 0px;
        } 

        .empty-field-and-subscribe-btn {
            display: flex;
            gap: 20px;

            .searchbox {
                border: none;
                

                .insert-your-email {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                    width: 310px;
                    height: 55px;
                    border-radius: 25px;
                    border: none;
                }
                
        
            }

            .yellow-button {
                margin-right: 50px;

                &:hover {
                    background-color: #191919;
                    color: #ffffff;
                }

                i {
                    margin-left: 5px;
                }
            }
        }

    }

    img {
        
        position: absolute;
        right: 0px;
        bottom: 50px;
        z-index: 1;
        
    }

}

.section-11 {
    background-color: #191919;
    padding-top: 115px;

    .crito-footer {
        .footer-link-section {
            display: flex;
            justify-content: space-between;
            padding-bottom: 90px;
            border-bottom: 1px solid #91918b;
            
            .crito-logo-and-text {

            }
            .topics-and-links {
              
            }
        }

        .copyright-and-socialmedia {
            display: flex;
            justify-content: space-between;

            .socialmedia-bar {
                display: flex;

                a {
                    margin-left: 10px;
                    background-color: #191919;
                }

                i {
                    
                }
            }


        }
    }

    a {
        color: #ffffff;
        text-decoration: none;
        display: block;
    }
    p {
        color: #ffffff;
    }

    .h3-text {
        color: #ffffff;
        padding-top: 20px;
    }
}

        

        



