@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Amatic+SC&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,500;0,9..40,700;0,9..40,900;1,9..40,400&family=Inter:wght@300;400;500;700&display=swap");
html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.h2-text {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  padding-bottom: 50px;
}

.h3-text {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.red-text {
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding-bottom: 30px;
}

.yellow-button {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  border-radius: 25px;
  padding: 12px 30px 12px 30px;
}

.transparent-button {
  background-color: transparent;
  border: 1px solid #191919;
  border-radius: 25px;
  padding: 12px 30px 12px 30px;
}
.transparent-button:hover {
  background-color: #191919;
  color: #f0efe9;
}

.wrapper-grid .contact-box {
  padding-left: 10px;
  padding-right: 40px;
  border-right: 1px solid #cac6c6;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}
.wrapper-grid header {
  background-color: #f0efe9;
  padding: 16px;
}
.wrapper-grid header .container {
  display: grid;
  align-items: center;
  -moz-column-gap: 70px;
       column-gap: 70px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  .wrapper-grid header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
.wrapper-grid header .container .btn-menubars {
  grid-area: bars;
}
@media (min-width: 992px) {
  .wrapper-grid header .container .btn-menubars {
    display: none;
  }
}
.wrapper-grid header .container .logotype {
  grid-area: logo;
}
.wrapper-grid header .container .contactinformation-bar {
  grid-area: cib;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding-bottom: 10px;
  display: none;
}
.wrapper-grid header .container .contactinformation-bar i {
  font-size: 20px;
  margin-right: 5px;
}
@media (min-width: 992px) {
  .wrapper-grid header .container .contactinformation-bar {
    display: none;
  }
}
@media (min-width: 1200px) {
  .wrapper-grid header .container .contactinformation-bar {
    display: flex;
  }
}
.wrapper-grid header .container .socialmedia-bar {
  grid-area: social;
  font-size: 15px;
  padding-bottom: 10px;
  display: none;
}
.wrapper-grid header .container .socialmedia-bar i {
  color: #191919;
  font-size: 20px;
  margin-left: 8px;
}
@media (min-width: 992px) {
  .wrapper-grid header .container .socialmedia-bar {
    display: block;
  }
}
.wrapper-grid header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cac6c6;
  padding-top: 16px;
}
.wrapper-grid header .container .menu nav a {
  display: inline-block;
  color: #191919;
  font-size: 16px;
  font-weight: 500;
  margin-right: 30px;
  text-decoration: none;
  position: relative;
}
.wrapper-grid header .container .menu nav a.active {
  font-weight: 500px;
}
.wrapper-grid header .container .menu nav a.active::after, .wrapper-grid header .container .menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
@media (min-width: 992px) {
  .wrapper-grid header .container .menu {
    display: flex;
  }
}
.wrapper-grid header .container .menu .yellow-btn {
  padding: 10px 25px 10px 25px;
  background-color: #F9D783;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  margin-right: 0px;
  color: #191919;
}
.wrapper-grid header .container .menu .yellow-btn:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #f0efe9;
}

.section-1 {
  background-color: #f0efe9;
}
.section-1 .startpage {
  display: flex;
}
.section-1 .startpage .left-side {
  margin-top: 140px;
}
.section-1 .startpage .left-side h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 80px;
}
.section-1 .startpage .left-side p {
  font-size: 20px;
}
.section-1 .startpage .right-side {
  margin-top: 50px;
  margin-right: -50px;
}

.section-2 {
  background-color: #ffffff;
}
.section-2 .container .img-block {
  display: flex;
  justify-content: end;
  margin-right: 50px;
}
.section-2 .container .img-position {
  margin-left: 120px;
  margin-top: 40px;
}

.section-3 {
  padding-top: 100px;
}
.section-3 .features-box {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "leftbox rightbox";
}
.section-3 .features-box .left-box {
  grid-area: "leftbox";
  padding-right: 100px;
}
.section-3 .features-box .left-box .yellow-button {
  padding-left: 180px;
  padding-right: 180px;
}
.section-3 .features-box .left-box .yellow-button:hover {
  background-color: #191919;
  color: #f0efe9;
}
.section-3 .features-box .right-box {
  grid-area: "right-box";
  display: grid;
  -moz-column-gap: 140px;
       column-gap: 140px;
  row-gap: 60px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "BA SB" "FA RM";
}
.section-3 .features-box .right-box i {
  font-size: 35px;
  padding-bottom: 40px;
}
.section-3 .features-box .business-advice {
  grid-area: "BA";
}
.section-3 .features-box .startup-business {
  grid-area: "SB";
}
.section-3 .features-box .financial-advice {
  grid-area: "FA";
}
.section-3 .features-box .risk-management {
  grid-area: "RM";
}

.about-company .aboutcompany-section {
  display: flex;
  justify-content: space-between;
  padding-top: 115px;
}
.about-company .aboutcompany-section .about-founder .samantha-box {
  height: 180px;
  width: 380px;
  justify-content: center;
  text-align: center;
  background-color: #BEEBFF;
  position: relative;
  top: -220px;
  right: 60px;
}
.about-company .aboutcompany-section .about-founder .samantha-box .samantha-title {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.about-company .aboutcompany-section .about-founder .samantha-box .samantha-title h3 {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  margin-right: 5px;
}
.about-company .aboutcompany-section .about-founder .samantha-box .samantha-title p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: red;
  padding-top: 1.2px;
  font-weight: bold;
}
.about-company .aboutcompany-section .about-founder .samantha-box .samantha-title p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.about-company .aboutcompany-section .about-company-info .about-company-btns {
  display: flex;
  align-items: end;
  margin-top: 100px;
}
.about-company .aboutcompany-section .about-company-info .about-company-btns .learn-more-button {
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #191919;
  border-radius: 25px;
  text-decoration: none;
  background-color: #191919;
  color: #ffffff;
  margin-right: 40px;
}
.about-company .aboutcompany-section .about-company-info .about-company-btns .learn-more-button:hover {
  color: #191919;
  background-color: #ffffff;
}
.about-company .aboutcompany-section .about-company-info .about-company-btns .play-btn {
  color: #191919;
  border: 1px solid #191919;
  padding: 15px 19px 15px 19px;
  border-radius: 25px;
  margin-right: 20px;
}
.about-company .aboutcompany-section .about-company-info .about-company-btns .play-btn:hover {
  color: #ffffff;
  background-color: #191919;
}

.section-8 .container .project-title {
  text-align: center;
}
.section-8 .container .project-and-case {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 30px;
  grid-template-areas: "art1 art2" "art3 art4";
}
.section-8 .container .project-and-case #article-1 {
  grid-area: art1;
}
.section-8 .container .project-and-case #article-2 {
  grid-area: art2;
}
.section-8 .container .project-and-case #article-3 {
  grid-area: art3;
}
.section-8 .container .project-and-case #article-4 {
  grid-area: art4;
}